.signup {
  padding: 1.5rem 5rem;
  background-color: var(--color-dark--1);
  height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 50%;
  margin: 3.5rem auto;
}

.title {
  color: var(--color-light--1);
  text-align: center;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
}

.row label {
  color: var(--color-light--1);
  font-weight: 500;
  text-align: left;
}

.cta {
  text-align: center;
  margin: 1rem 0;
}

.login {
  color: var(--color-light--3);
  text-align: center;
  margin-top: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
